@mixin desktop {
    @media (min-width: (1440px)) {
      @content;
    }
  }

  @mixin tablet {
    @media (max-width: (1024px)) {
      @content;
    }
  }
  
  @mixin small-tablet {
    @media (max-width: (768px)) {
      @content;
    }
  }
  
  @mixin mobile {
    @media (max-width: (576px)) {
      @content;
    }
  }

  @mixin rowHead {
    width: 100%;
    max-width: 870px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 24px;
  }