.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.d-flex {
	display: flex;
}

.flex-center {
	justify-content: center;
}

.headSection-title {
	font-size: 54px;
	font-weight: 600;
	color: var(--color-text-secondary);
	@include small-tablet {
		font-size: 42px;
	}
	@include mobile { 
		font-size: 32px;
		font-weight: 500;
	}
}

.headSection-description {
	font-size: 18px;
	color: var(--color-text-secondary);
}