.about {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 65px;

    &__container {}

    // .about__rowContent

    &__rowContent {
        & > div:not(:last-child) {
            margin-bottom: 52px;
        }
    }

    // .about__rowHead

    &__rowHead {
        @include rowHead;
    }

    // .about__title

    &__title {
        text-align: center;
    }

    // .about__subtitle

    &__subtext {
        text-align: center;
    }

    // .about__text

    &__text {
        & > p {
            text-align: center;
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    // .about__rowBody

    &__rowBody {
        width: 100%;
        height: 640px;
        @include small-tablet {
            height: 430px;
        }
    }

    // .about__rowBody-img

    &__rowBody-img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        border-radius: 25px;
    }
}