.navigation {
    width: 100%;
    @include small-tablet {
        position: fixed;
        max-width: calc(100% - 20px);
        padding: 32px 32px;
        height: 100vh;
        top: 0;
        left: -100%;
        z-index: 90;
        background-color: var(--color-background-secondary);
        transition: left .3s;
    }
    &--active {
        @include small-tablet {
            left: 0;
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include small-tablet {
            padding-top: 32px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
    
    &__close-btn {
        display: none;
        @include small-tablet {
            --size: 42px;
            width: var(--size);
            height: var(--size);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--color-separator);
            font-size: 22px;
            color: var(--color-text-secondary);
        }
    }

    // .navigation__menu-item

    &__menu-item {
        display: inline-flex;
        @include small-tablet {
            &:not(:last-child) {
                width: 100%;
                margin-bottom: 18px;
            }
        }
    }

    // .navigation__menu-link

    &__menu-link {
        position: relative;
        font-size: 16px;
        font-weight: 500;
        color: var(--color-text-secondary);
        padding: 2px 2px 6px 0;
        transition: color .2s;
        @include small-tablet {
            width: 100%;
            padding: 2px;
            font-size: 18px;
        }
        &:hover {
            color: #ffffffa0;
            &::before {
                width: 90%;
            }
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            border-radius: 2px;
            background-color: var(--color-text-secondary);
            transition: width .4s;
        }
    }

    &__submenu {
        position: absolute;
        left: 0;
        top: 100%;
        width: 200px;
        border-radius: 8px;
        background-color: var(--color-foreground);
        z-index: 30;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        display: none;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid var(--color-separator);
        @include small-tablet {
            width: 100%;
        }
        &-item {
            width: 100%;
            display: inline-block;
            position: relative;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            &:hover {
                ul {
                    display: block;
                }
            }
            @include small-tablet {
                position: none;
            }
            ul {
                width: 200px;
                border: 1px solid var(--color-separator);
                padding-top: 10px;
                padding-bottom: 10px;
                position: absolute;
                top: 0;
                left: 100%;
                background-color: var(--color-foreground);
                border-radius: 8px;
                display: none;
                z-index: 40;
                @include small-tablet {
                    width: 100%;
                    height: auto;
                    top: calc(100% + 10px);
                    left: 0;
                    background-color: var(--color-text-secondary);
                    
                }
                li {
                    display: inline-block;
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                    @include small-tablet {
                        display: block;
                    }
                    a {
                        display: block;
                        padding-inline: 8px;
                        transition: color .3s;
                        &:hover {
                            color: var(--color-text-secondary);
                        }
                    }
                }
            }
        }
        &-link {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: left;
            padding-inline: 8px;
            transition: color .3s;
            &:hover {
                color: var(--color-text-secondary);
            }
        }
    }

    &__menu-item:hover {
        & > ul {
            display: block;
        }
    }
}