.navigation {
    width: 100%;
    @include small-tablet {
        display: none;
    }
    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .navigation__menu-item

    &__menu-item {
        display: flex;
    }

    // .navigation__menu-link

    &__menu-link {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        color: var(--color-text-secondary);
        padding: 2px 2px 6px 0;
        transition: color .2s;
        @include small-tablet {
            font-size: 14px;
        }
        &:hover {
            color: #ffffffa0;
            &::before {
                width: 90%;
            }
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            border-radius: 2px;
            background-color: var(--color-text-secondary);
            transition: width .4s;
        }
    }
}