.process-works {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 65px;
    &__container {}

    // .process-works__rowContent

    &__rowContent {
        width: 100%;
        & > div {
            &:not(:last-child) {
                margin-bottom: 64px;
            }
        }
    }

    // .process-works__rowHead

    &__rowHead {
        @include rowHead;
    }

    // .process-works__rowHead-title

    &__rowHead-title {
        text-align: center;
    }

    // .process-works__rowHead-description

    &__rowHead-description {
        text-align: center;
    }

    // .process-works__rowBody

    &__rowBody {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-gap: 24px;
    }

    // .process-works__col

    &__col {
        width: 100%;
    }

    // .process-works__col--left

    &__col--left {
        grid-column: 5 span;
        @include tablet {
            grid-column: 6 span;
        }
        @include mobile {
            grid-column: 12 span;
        }
    }

    // .process-works__stages

    &__stages {
        width: 100%;
        & > li:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    // .process-works__stages-item

    &__stages-item {
        width: 100%;
    }

    // .process-works__stages-card

    &__stages-card {
        width: 100%;
        height: 100%;
        padding: 24px 24px;
        display: flex;
        align-items: center;
        gap: 24px;
        border-radius: 16px;
        border: 1px solid var(--color-separator);
    }

    // .process-works__stages-icon

    &__stages-icon {
        min-width: 60px;
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-size: 18px;
        color: var(--color-text-secondary);
        background-color: var(--color-background-secondary);
    }

    // .process-works__stages-detail

    &__stages-detail {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    // .process-works__stages-detailTitle

    &__stages-detailTitle {
        font-size: 20px;
        font-weight: 500;
        color: var(--color-text-secondary);
    }

    // .process-works__stages-detailText

    &__stages-detailText {
        font-size: 16px;
    }

    // .process-works__col--right

    &__col--right {
        width: 100%;
        height: 100%;
        border-radius: 32px;
        background-color: var(--color-background-secondary);
        grid-column: 7 span;
        @include tablet {
            grid-column: 6 span;
        }
        @include mobile {
            grid-column: 12 span;
        }
    }

    // .process-works__image

    &__image {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
}